.endnote-img {
    background: url(./EndNote.jpg) center center / cover no-repeat;
}

.bandicam-img {
    background: url(./Bandicam.jpg) center center / cover no-repeat;
}

.affinity-img {
    background: url(./affinity.jpg) center center / cover no-repeat;
}

.edraw-img {
    background: url(./edraw.jpg) center center / cover no-repeat;
}


.cleaner-img {
    background: url(./cleaner.jpg) center center / cover no-repeat;
}

.fxsound-img {
    background: url(./fxsound.jpg) center center / cover no-repeat;
}

.proteus-img {
    background: url(./proteus.jpg) center center / cover no-repeat;
}

.sublime-img {
    background: url(./sublime.jpg) center center / cover no-repeat;
}



/* !endnote */
.endnote .modal-img {
    background: url(../Sortware/EndNote-modal.jpg) center center / cover no-repeat;
}

/* !bandicam */
.bandicam .modal-img {
    background: url(../Sortware/bandicam-modal.jpg) center center / cover no-repeat;
}

/* !affinity */
.affinity .modal-img {
    background: url(../Sortware/affinity-modal.jpg) center center / cover no-repeat;
}

/* !Edraw */
.edraw .modal-img {
    background: url(../Sortware/edraw-modal.jpg) center center / cover no-repeat;
}

/* !Sublime text */
.sublime .modal-img {
    background: url(../Sortware/sublime-modal.jpg) center center / cover no-repeat;
}

/* !Fxsound */
.fxsound .modal-img {
    background: url(../Sortware/fxsound-modal.jpg) center center / cover no-repeat;
}

/* !CCleaner */
.cleaner .modal-img {
    background: url(../Sortware/cleaner-modal.jpg) center center / cover no-repeat;
}

/* !proteus */
.proteus .modal-img {
    background: url(../Sortware/proteus-modal.jpg) center center / cover no-repeat;
}